<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Family Ping.ca</title>
  <meta name="description" content="An EZ way to stay connected">
  <meta name="author" content="Great Folks">
  <link rel="stylesheet" href="styles.css?v=1.0">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css">
    img {
      width: 100%;
    }
    
    body {
      
    }
    .header {
      width: 100%;
    }
    
    .branding {
      min-width: 300px;
      max-width: 500px;
    } 
    .company-name {
      text-indent: -9999px;
      height: 0;
      font-size: 0;
      line-height: 0;
    }
    .email-sign-up {
      position: absolute;
      top: 0;
      right: 0;
    }
    
    .main {
      clear: both;
      width: 100%;
    }
    
    .main-left {
      min-width: 300px;
      max-width: 500px;
      float: left;
      padding:20px;
    }
    
    .main-right {
      min-width: 300px;
      max-width: 500px;
      float: left;
      padding:20px;
    }
    
    .footer {
      
    }
    
    
    
  </style>
  <script src="js/scripts.js"></script>
  
</head>
<body>
  <div class="header">
    <div class="branding">
      <div class="logo"><img src="images/FamilyPing-1stScreen-Orange.jpg" /></div>
      <div class="company-name">Family Ping</div>
    </div>
    <div class="email-sign-up">
		Email Address:<input type="email" spellcheck="false" name="email" id="email" value=""> <input type="submit" spellcheck="false" name="submit" value="Go">
	</div>
  </div>
    
  <div class="main">
    <div class="main-left">
      <img src="images/family.jpg" />
    </div>
    <div class="main-right">
	  <% if @account.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
	
	      <ul>
	      <% @account.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

      <h2>Enter Your Phone Number Here To Try Our Messaging Services</h2>

		<%= form_for(@account) do |f| %>
		
		    <%= f.text_field :phone %>
		    <%= f.submit "Try It Now!", :name => "submit" %>
			
		<% end %>

    </div>
  </div>
  <div class="footer">
    
  </div>
</body>
</html>

