<<<<<<< HEAD
<head>
<style>
a:link {backgrond-color:#ffffff;}
a:visited {backgrond-color:#ffffff;}
a:hover {backgrond-color:#ffffff;}
a:active {backgrond-color:#ffffff;}
</style>
</head>

<p id="notice"><%= notice %></p>
=======
<h3><p id="notice"><%= notice %></p></h3>
>>>>>>> e5c0b9ab760ef0684b9451f1ffc719da3881fddd


<%= link_to image_tag("/images/walk.png") , took_walk_account_path(@account) %>
<%= link_to image_tag("/images/meds.png"), took_meds_account_path(@account) %> 
<%= link_to image_tag("/images/eating.png"), eating_account_path(@account) %> 
<%= link_to image_tag("/images/ok.png"), report_status_account_path(@account) %> <br/>	

